@{
    Layout = "_Layout";
}

<!-- @using CretaceousClient.Models; -->
@model CretaceousClient.Models.Animal

<h1>Animal Info:</h1>
<ul>
    <li>ID: @Model.AnimalId</li>
    <li>Name: @Model.Name</li>
    <li>Species: @Model.Species</li>
    <li>Age: @Model.Age</li>
    <li>Gender: @Model.Gender</li>
</ul>
<br>

<p>@Html.ActionLink("Back to animals", "Index", "Animals")</p>
<p>@Html.ActionLink("Edit Animal", "Edit", new { id = Model.AnimalId })</p>
<p>@Html.ActionLink("Delete Animal", "Delete", new { id = Model.AnimalId })</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>