@{
    Layout = "_Layout";
}
@model CretaceousClient.Models.Animal
<h1>Edit Info:</h1>
<form action="/Animals/Details/@(Model.AnimalId)" method="post">
    @Html.HiddenFor(model => model.AnimalId)
    <label for="name">Animal's Name</label>
    <input id="name" name="name" type="text" value="@(Model.Name)">
    <label for="species">Animal's Species</label>
    <input id="species" name="species" type="text" value="@(Model.Species)">
    <label for="age">Animal's Age</label>
    <input id="age" name="age" type="number" value="@(Model.Age)">
    <label for="gender">Animal's Gender</label>
    <input id="gender" name="gender" type="text" value="@(Model.Gender)">
    <button type="submit">Go!</button>
</form>

<p>@Html.ActionLink("Return to Details", "Details", "Animals")</p>